body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url(../public/images/sfondo.png) no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
